<div class="background">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <p>
          Welcome to our Quiz Quest,<br />
          your gateway to academic success and professional advancement!
        </p>
        <p>
          At Quiz Quest, we are dedicated to providing you with a comprehensive
          platform for all your examination needs. Whether you're a student
          preparing for your next big test, an educator looking to create
          assessments, or a professional seeking certification, we've got you
          covered.
        </p>
        <p>
          Our platform offers a wide range of features and resources to help you
          excel in your exams:
        </p>
        <ul>
          <li>Interactive Practice Tests</li>
          <li>Customizable Assessments</li>
          <li>Real-time Feedback</li>
        </ul>
      </div>
    </div>
  </div>
</div>
